/* GENERAL STYLES */

*{
    box-sizing: border-box;
}

body{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lexend', sans-serif;
}

ul{
    padding: 20px;
    list-style: none;
    margin:20px;
}

/* HEADER */

.logo-mbl{
    margin-top: 30px;
    margin-left: 20px;
}

.logo{
    margin-left: 20px;
}
    /* HAMBURGER MENU */
    
    .ham {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        width: 50px;
        height: 50px;
        background:none;
        cursor: pointer;
        color:white;
      }
    
      @media only screen and (min-width:800px) {
        .ham{
            display: none;
        }
    }
    
      .x-icon{
          display: none;
          color: #faf7f8;
          font-size: 30px;
      }

      .menu-icon{
          font-size:30px;
      }
    
      .menu {
        position: fixed;
        top: 15%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        width: 80%;
        background: white;
        color: white;
        transform: translateY(-120%);
        transition: transform 0.2s;
        list-style: none;
        padding-top: 4rem;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius:15px;
        display:flex;
        flex-wrap:wrap;

      }

      .menu li{
          width:100%;
          text-align:center;
      }
    
      .showMenu {
        transform: translateY(0);
      }

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    margin:20px;
}

.header-left {
    display: flex;
    align-items:center
}

@media only screen and (max-width:800px) {
    .header-left, .header-right{
        display: none;
    }
}

@media only screen and (min-width:800px){
    .logo-mbl{
        display: none;
    }
}

.header-right button, 
.header-right a {
    padding: 10px 20px;
    margin:20px;
}

.header-right a {
    color:white;
}

.header-right button{
    border: none;
    background: white;
    color:hsl(356, 100%, 66%);
    border-radius: 15px;
}

.header-right button:hover{
    background: hsl(355, 100%, 74%);
    color:white;
}

.product-header,
.company-header,
.connect-header {
    color:white;
    cursor:pointer;
    display: flex;
    background: none;
    margin-right: 0px;
    padding-right: 5px;
}

.fa-chevron-up{
    display:none;
}

.chevron{
    margin-top: 20px;
    color: white;
}

.nav-item{
    position: relative;
    display: inline-block;
}

.nav-item button:hover{
    text-decoration: underline;
}

.nav-item button:focus{
    outline:none;
}

.nav-item-btn{
    display: flex;
}

/* hamburger styling */
.mbl-chevron{
    color:hsl(356, 100%, 66%);
    margin-top:20px;
}

.mbl-nav-item button{
    color:hsl(208, 49%, 24%);
    background: none;
    font-size: 24px;
    padding-right: 0;
}

.mbl-nav-item-btn{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    color:hsl(208, 49%, 24%);
    background: none;
    font-size: 24px;
    padding-right: 0;
}

.mbl-nav-item{
    width: 100%;
    text-align: center;
}

.mbl-nav-list-product, 
.mbl-nav-list-company,
.mbl-nav-list-connect {
    margin: 5px 15px;
    background: #faf7f8;
    display: none;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    color: black;
    width: 50%;
    margin-left: 25%;
    
}

.mbl-nav-list-product a{
    width:100%;
}

hr{
    width: 75%;
    height: 1px;
    background-color: lightgray;
    border: none;
}

.mbl-sign-up-btn{
    background: linear-gradient(to right, rgba(255, 143, 112), rgba(255, 61, 84));
    color: white;
    font-size: 24px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
}



/* hamburger end */

.nav-list{
    position: absolute;
    margin: 5px 15px;
    background: white;
    display: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-list a{
    color: black;
    font-size: 12px;
}

.nav-list a:hover{
    font-weight:bold;
    cursor:pointer;
}

.product, 
.company,
.connect {
    display: none;
    color: white;
}

/* SECTION 1 */

.section-1{
    background-image: 
        linear-gradient(to right, rgba(255, 143, 112, .9), rgba(255, 61, 84, .9)),
                url('images/bg-pattern-intro.svg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:baseline;
    border-radius: 0 0 0 75px;
    width:100%;
}

@media only screen and (min-width:800px){
    .section-1 {
        height:500px;
    }
}

.header-cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.header-cta h1,
.header-cta p{
    width: 100%;
    text-align: center;
}

.header-cta h1{
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
}

.header-cta p{
    color: white;
}

button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.start-btn {
    background: white;
    color: hsl(356, 100%, 66%);
    transition: .3s;
    border:none
}

.start-btn:hover{
    background:hsl(355, 100%, 74%);
    color:white;
    border:none;
}

.learn-btn{
    background: hsl(356, 100%, 66%);
    color:white;
    border: 1px white solid;
    transition: .3s;
}

.learn-btn:hover{
    background:white;
    color:hsl(356, 100%, 66%);
}

.columns-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns-1 div{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* SECTION 2 */

.section-2 h2{
    text-align: center;
    width:100%;
    color:hsl(208, 49%, 24%);
    font-size: 30px;
}

.section-2 h3{
    color: hsl(208, 49%, 24%);
    font-size: 20px;
}

.section-2-mbl-img{
    width:80%;
}

@media only screen and (min-width:800px) {
    .section-2{
        display: flex;
        flex-wrap: wrap;
        align-content: baseline;
        width: 100%;
        background-image: url(images/illustration-editor-desktop.svg);
        height: 450px;
        background-repeat: no-repeat;
        background-position: 135% 50%;
        background-size: contain;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .section-2-mbl-img {
        display: none;
    }

    .columns-1 {
        width: 50%;
        margin-left: 10%;
    }

    .columns-1 div{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        text-align: left;
    }
}

@media only screen and (min-width:1000px){
    .section-2{
        background-position: 115% 50%;
    }
}

/* SECTION 3 */

.section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-image: url(images/bg-pattern-circles.svg); */
    background-image: 
        linear-gradient(to right, rgba(44, 45, 63, .9), rgba(63, 65, 100, .9)),
                url('images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 500px;
    background-size: contain;
    width: 100%;
    /* background-color: darkslateblue; */
    margin-top: 100px;
    border-radius: 0 50px 0 0;
}

.section-3 h2{
    color: white;
    size: 30px
}

.section-3 img {
    width: 75%;
    margin-top:-100px;
}

.section-3-div {
    width: 75%;
    text-align: center;
    color: white;
}

@media only screen and (min-width:550px){
    .section-3{
        height:675px;
    }
}

@media only screen and (min-width:800px){
    .section-3 {
        display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(44, 45, 63, .9), rgba(63, 65, 100, .9)), url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: 0% 75%;
    height: 300px;
    justify-content: space-between;
    background-size: cover;
    }

    .section-3-div{
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        width: 40%;
        text-align:left;
        margin-bottom: 100px;
    }

    .section-3 img{
        width: 40%;
    }
}

/* SECTION 4 */

.section-4-mbl-img{
    width:100%;
}

.section-4 h3{
    color: hsl(208, 49%, 24%);
    size: 20px;
}
.columns-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns-2 div{
    width:75%;
    text-align:center;
}

@media only screen and (min-width:800px) {
    .section-4 {
        margin-top: 150px;
        width:100%;
        background-image: url(images/illustration-laptop-desktop.svg);
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -45% 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 150px;
    }

    .columns-2{
        width:50%;
        margin-right: 100px;
    }

    .section-4 img{
        height: 700px;
    }

    .columns-2-div-1 {
        padding-top: 50px;
    }

    .section-4-mbl-img{
        display:none;
    }

    .section-4 div{
        text-align:left;
        margin-left:110px;
    }
}

@media only screen and (min-width:1000px){
    .section-4{
        background-position: -5% 50%;
    }
}

/*  */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background: black;
    border-radius: 0px 30px 0 0;
    flex-wrap: wrap;
}

footer a{
    margin-top:50px;
    margin-right:25px;
    width:100%;
    display:flex;
    justify-content: center;
}

footer ul{
    width:100%;
    text-align:center;
}

footer h4{
    font-size:18px;
}

@media only screen and (min-width:800px){
    footer{
        flex-wrap:nowrap;
    }

    footer a{
        display:block;
        margin-left:55px;
    }
}

