body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;

}

ul{
    padding: 20px;
    list-style: none;
    margin:20px;
}

.header-left {
    display: flex;
}

.header-right button, 
.header-right a {
    padding: 20px;
    margin:20px;
}

.product, 
.company,
.connect {
    display: none;
}

.section-1{
    background-image: url(images/bg-pattern-intro.svg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:baseline;
}

.header-cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.header-cta h1,
.header-cta p{
    width: 100%;
    text-align: center;
}

.header-cta h1{
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
}

.header-cta p{
    color: white;
}

.section-2{
    justify-content: center;
    width: 75%;
}

.section-2 h2{
    text-align: center;
}

.columns-1, 
.columns-2{
    columns: 2 auto;    
}

.section-2-img{
    height:700px;
}

.section-3 {
    display: flex;
    align-items: center;
    background-image: url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: -50% 50%;
    height: 400px;
    width: 100%;
    background-color: darkslateblue;
}

.section-4 {
    margin-top: 50px;
}

.section-4 img{
    height: 700px;
}

.columns-2-div-1 {
    padding-top: 150px;
}


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background: black;
    border-radius: 0px 30px 0 0;
}