*{
    box-sizing: border-box;
}

body{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;

}

ul{
    padding: 20px;
    list-style: none;
    margin:20px;
}

.header-left {
    display: flex;
}

@media only screen and (max-width:800px) {
    .header-left, .header-right{
        display: none;
    }
}

.header-right button, 
.header-right a {
    padding: 10px 20px;
    margin:20px;
}

.header-right a {
    color:white;
}

.header-right button{
    border: none;
    background: white;
    color:pink;
    border-radius: 15px;
}

.product-header,
.company-header,
.connect-header {
    color:white;
}

.product, 
.company,
.connect {
    display: none;
    color: white;
}

.section-1{
    background-image: url(images/bg-pattern-intro.svg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:baseline;
    border-radius: 0 0 0 75px;
    width:100%;
}

.header-cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.header-cta h1,
.header-cta p{
    width: 100%;
    text-align: center;
}

.header-cta h1{
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
}

.header-cta p{
    color: white;
}

.columns-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns-1 div{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.section-2 h2{
    text-align: center;
    width:100%;
}

.section-2-mbl-img{
    width:80%;
}

@media only screen and (min-width:800px) {
    .section-2{
        display: flex;
        flex-wrap: wrap;
        align-content: baseline;
        width: 100%;
        background-image: url(images/illustration-editor-desktop.svg);
        height: 450px;
        background-repeat: no-repeat;
        background-position: 115% 50%;
        background-size: contain;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-2-mbl-img {
        display: none;
    }

    .columns-1 {
        width: 40%;
        margin-left: 10%;
    }

    .columns-1 div{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        text-align: left;
    }
}

.section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 500px;
    background-size: contain;
    width: 100%;
    background-color: darkslateblue;
    margin-top: 100px;
    border-radius: 0 50px 0 0;
}

.section-3 img {
    width: 75%;
    margin-top:-100px;
}

.section-3-div {
    width: 75%;
    text-align: center;
    color: white;
}

@media only screen and (min-width:600px){
    .section-3 {
        display: flex;
        align-items: center;
        background-image: url(images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: -50% 50%;
        height: 300px;
        width: 100%;
        background-color: darkslateblue;
        justify-content: space-between;
    }

    .section-3-div{
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        width: 40%;
        text-align:left;
        margin-bottom: 100px;
    }

    .section-3 img{
        width: 40%;
    }
}

.section-4-mbl-img{
    width:100%;
}

.columns-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns-2 div{
    width:75%;
    text-align:center;
}

@media only screen and (min-width:800px) {
    .section-4 {
        margin-top: 50px;
        width:100%;
        background-image: url(images/illustration-laptop-desktop.svg);
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -25% 50%;
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .columns-2{
        width:40%;
        margin-right: 50px;
    }

    .section-4 img{
        height: 700px;
    }

    .columns-2-div-1 {
        padding-top: 50px;
    }

    .section-4-mbl-img{
        display:none;
    }

    .section-4 div{
        text-align:left;
    }
}


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background: black;
    border-radius: 0px 30px 0 0;
}

.ham {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    border:none;
    background:pink;
    cursor: pointer;
  }

  @media only screen and (min-width:800px) {
    .ham{
        display: none;
    }
}

  .x-icon{
      display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: pink;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    margin: 0;
  }

  .showMenu {
    transform: translateY(0);
  }